#game-board {
    background: #3582b8;
    border-radius: 4px;
    padding: 10px;
    width: 600px;
    margin: 50px auto;
    text-align: center;
}

.clearfix {
    clear: both;
}

.row {
    height: 100%;
    width: 100%;
    margin: 5px auto;
}

.cell {
    background: rgba(225, 226, 241, 0.5);
    border-radius: 4px;
    box-sizing: border-box;
    height: 130px;
    float: left;
    margin: 10px;
    width: 130px;
}